<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Year</th>
    <th>Rated</th>
    <th>Released</th>
    <th>Runtime</th>
    <th>Genre</th>
    <th>Director</th>
    <th>Writer</th>
    <th>Actors</th>
    <th>Plot</th>
    <th>Language</th>
    <th>Country</th>
    <th>Awards</th>
    <th>Poster</th>
    <th>Metascore</th>
    <th>imdbRating</th>
    <th>imdbVotes</th>
    <th>imdbID</th>
    <th>Type</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="p in addmvectrl.movie | filter:mctrl.searchStr">
    <td>{{p.id}}</td>
    <td>{{p.Title}}</td>
    <td>{{p.Year}}</td>
    <td>{{p.Rated}}</td>
    <td>{{p.Released}}</td>
    <td>{{p.Runtime}}</td>
    <td>{{p.Genre}}</td>
    <td>{{p.Director}}</td>
    <td>{{p.Writer}}</td>
    <td>{{p.Actors}}</td>
    <td>{{p.Plot}}</td>
    <td>{{p.Language}}</td>
    <td>{{p.Country}}</td>
    <td>{{p.Awards}}</td>
    <td>{{p.Poster}}</td>
    <td>{{p.Metascore}}</td>
    <td>{{p.imdbRating}}</td>
    <td>{{p.imdbVotes}}</td>
    <td>{{p.imdbID}}</td>
    <td>{{p.Type}}</td>
    <td><i ng-click="addmvectrl.deletemovie($index)" class="fa fa-trash"></i></td>
  </tr>
  </tbody>
</table>
