html {
    height: 100%;
    margin: 0;
  /*background-color: darkslategray;*/
}
/*html,ng-view,body, #main {
    background-image: radial-gradient(red, #f06d06);
}*/
body {
 /*background: url("../Images/hulu.jpg");*/
  background-image: radial-gradient(white, #f06d06);
   /* background-color: darkslategray;*/
}
.container
{
  width: auto;
  height: auto;
 /* background-color: darkslategray;*/
}
